@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@400;700&display=swap');

body {
   background: radial-gradient(#00E6D2, #380A66);
   background: linear-gradient(0deg, #380A66 0%, #00E6D2 100%);
   font-size: 35px;
   font-family: 'Quicksand', 'Roboto', sans-serif;
   font-weight: 700;
   margin: 0;
}

img {
   max-width: 1000px;
}

#main-wrapper {
   height: 100vh;
   width: 100vw;
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-rows: 450px auto;
}

#calculator-body {
   height: 600px;
   width: 400px;
   background: #e8e8e8;
   background: linear-gradient(0deg, #bfc9d9 0%, #e8e8e8 50%, #ced4e0 100%);
   border-radius: 5px;
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-rows: 120px auto;
   margin: 0 auto;
}

#screen-area {
   height: 90px;
   width: 370px;
   border-radius: 18px;
   padding-top: 8px;
}

#btn-layout {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 370px;
   height: 460px;
}

.btn {
   display: grid;
   justify-content: center;
   align-items: center;
   height: 80px;
   width: 80px;
   border-radius: 5px;
   margin: 5px;
   color: #e0e0e0;
   background-color: #494949;
}

.operator {
   background-color: #357eb2;
}

.equals {
   width: 360px;
   border-radius: 5px;
   background-color: #357eb2;
}

p {
   color: #494949;
   text-align: right;
   margin: 0;
}

#current-number {
   font-size: 65px;
   margin-right: 5px;
   margin-top: -10px;
   height: 81.5px;
}

#previous-number {
   font-size: 27px;
   margin-right: 8px;
   font-weight: 500;
   height: 34px;
}